.cardGrid {
  /* 3-column grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-content: space-evenly;
  gap: 2em;
}

/* On smaller screens */
@media screen and (max-width: 720px) {
  .cardGrid {
    /* Only have 2 columns */
    grid-template-columns: repeat(2, 1fr);
  }
}
