.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.contentsTable {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-content: space-evenly;
  gap: 1em;
  align-items: stretch;
  justify-items: stretch;
  justify-content: stretch;

  grid-auto-rows: 1fr;
}

.contentsTable * {
  /* 
    Removes underlines from all the text in the card
    except for the title. See the <ContentsTableCard> CSS Module.
  */
  text-decoration: none;
}
