.wrapper {
  display: flex;
  margin: 0.5em;
}

.wrapper > * {
  flex: 1;
}

.wrapper label {
  text-align: right;
  display: inline-block;
  margin-right: 1em;
  font-weight: bold;
}

.mtrLabel {
  font-weight: bold;
}

.mtr {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20%;
  height: 1em;
  margin: 0 1em;
  /* vertical-align: baseline; */
  align-items: baseline;
}

.mtr,
.mtr::-webkit-meter-bar, 
.mtr::-webkit-meter-optimum-value,
.mtr::-webkit-meter-suboptimum-value,
.mtr::-webkit-meter-even-less-good-value,
.mtr::-moz-meter-bar {
  border-radius: 0.4em;
}

.mtr::-webkit-meter-bar {
  background: none; 
  background-color: var(--lightBlue);
  border: 1.2pt solid;
}

.mtr::-webkit-meter-optimum-value {
  background: none;
  background-color: var(--blue)
}

.mtr::-moz-meter-bar {
  background: none;
  background-color: var(--blue);
}
