.wip-banner {
  /* Style as a full-width banner */
  width: 100%;
  margin: auto;
  margin-bottom: 1em;

  /* Set the colours */
  color: var(--black);
  background-color: var(--orange);
  
  text-align: center;
  padding: 1em;
}
