.form {
  margin: 0.5em;
}

/* All input fields */
.form input, 
.form select,
.form textarea,
.form button {
  width: 100%;
  padding: 0.6em 1.2em;
  margin: 0.5em 0;
  display: inline-block;
  /* Ensures consistent input text fonts. */
  font-family: Arial, Helvetica, sans-serif;
}

/* Placeholder text */
.form input::placeholder,
.form input::-webkit-input-placeholder,
.form input::-moz-placeholder {
  font-family: 'Courier New', Courier, monospace;
}

/* Form Text Areas */
.form textarea {
  /* 
    Ensures the user can resize the textarea
    (only vertically) if its content gets too 
    lengthy.
  */
  resize: vertical; 
  height: 10em; /* Initial Height */
  background-color: var(--white);
  border: var(--inputBorder) var(--lightBlue);
}

/* Readonly textareas with focus */
.form textarea:read-only:focus {
  /* Prevents user from thinking they can edit a readonly textarea */
  outline: none;
}

.form textarea:focus {
  outline: 2pt solid darkblue;
}

/* Input fields except submit button */
.form input:not([type=submit]),
.form select {
  border: var(--inputBorder) var(--lightBlue);
  border-radius: 4pt;
  box-sizing: border-box;
}

/* Input fields with focus */
.form input:not([type=submit],[type=button]):focus,
.form button:focus,
.form select:focus {
  outline: 2pt outset lightgray;
  border: var(--inputBorder) var(--lightBlue);
}

/* Form Buttons */
.form input[type=submit],
.form input[type=button],
.form button {
  background-color: var(--lightBlue);
  color: var(--blue);
  border: none;
  border-radius: 4pt;
  cursor: pointer;
}

.form input[type=submit]:hover,
.form input[type=button]:hover,
.form button[type=button]:hover {
  background-color: var(--blue);
  color: var(--lightBlue);
}

.form > fieldset {
  border: 2pt ridge var(--lightBlue);
  padding: 1em;
  margin-bottom: 0.5em;
}

.form > fieldset > legend {
  padding: 0 0.5em;
  color: var(--blue);
  font-weight: bold;
  text-decoration: underline;
}

.form label {
  width: 100%;
  display: block;
  padding: 0.2em ;
  text-decoration: underline;
  color: var(--blue);
  font-weight: bold;
}

/* Output elements in forms */
.form output {
  font-style: italic;
  display: block;
}

@media (prefers-color-scheme: dark) {
  .form label {
    color: var(--white);
  }  

  .form textarea,
  .form input:not([type=button],[type=submit]) {
    background-color: var(--dmBlack);
    border-color: grey;
  }

  .form fieldset legend {
    color: var(--white);
  }

  .form fieldset {
    border-color: grey;
  }

  .form input[type=submit]:hover,
  .form input[type=button]:hover,
  .form button[type=button]:hover {
    color: grey;
    background-color: var(--white);
  }

  .form input[type=submit],
  .form input[type=button],
  .form button {
    background-color: grey;
    color: var(--white);
  }

  .form input:not([type=submit]),
  .form select {
    border-color: grey;
  }

  .form input:not([type=submit],[type=button]):focus,
  .form button:focus,
  .form select:focus {
    border-color: grey;
  }
}
