.toast {
  padding: 0.75em 1em;
  border-radius: 4pt;
  color: var(--white);
  background-color: var(--dblue);
  cursor: pointer;
  font-size: 0.9em;
  text-align: center;
}

.toast.success {
  background-color: #ddffdd;
  color: var(--black);
}

.toast.info {
  background-color: #1e8dd2;
  color: var(--black);
}

.toast.warning {
  background-color: var(--orange);
  color: var(--black);
}

.toast.error {
  background-color: crimson;
}
