/* The actual go-home button */
.btn {
  border: none;
  border-radius: 0.3em;
  padding: 1em;
  background-color: var(--mainColour);
  color: var(--dblue);
  display: block;
  width: 10em;
  text-align: center;
  margin: auto;
  outline: 2pt outset;
  margin-top: 1em;
}

/* Hovering on the button */
.btn:hover {
  outline: 2pt inset;
  background-color: var(--dblue);
  color: var(--mainColour);
}
