/* Dialog component wrapper */
.dialogDiv {
  border: 1pt solid;
  padding: 1em;
  margin: 1em 0;
}

/* Styling for all 3 dialog boxes */
.alertBox,
.confirmBox,
.formBox {
  margin: auto;
  width: 60%;
  padding: 2em;
  border: 2pt solid var(--mainColour);
  box-shadow: 10px 10px 10px var(--black);
}

/* Padding for aesthetics */
.alertBox > h3, .confirmBox > h3, .formBox > h3,
.alertBox > p, .confirmBox > p, .formBox > p {
  padding: 0.4em 0;
}

/* The backdrop for the dialogs */
.alertBox::backdrop,
.confirmBox::backdrop,
.formBox::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

/* All buttons within the dialog wrapper. */
.dialogDiv button {
  background-color: var(--mainColour);
  color: var(--black);
  border: none;
  border-radius: 4pt;
  cursor: pointer;
  width: 100%;
  padding: 0.6em 1.2em;
  margin: 0.5em 0;
  display: inline-block;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
}

/* Hovering over buttons within the dialog wrapper */
.dialogDiv button:hover {
  color: var(--mainColour);
  background-color:  var(--dblue);
  transition-duration: 0.2s;
}
