:root {
  /* List Item Border */
  --liBorder: 1pt solid;
}

/* Table of Contents */
.toc {
  /* Flex display */
  display: flex;
  /* No list bullets */
  list-style-type: none;
  /* Vertical block list */
  flex-direction: column;
}

.toc > li {
  /* Ensures the links stay the same size */
  flex-grow: 1;
  text-align: center;
  border: var(--liBorder);
  /* Prevent clashing top and bottom borders */
  border-bottom: none;
  padding: 1em;
}

/* Last list item */
.toc > li:last-child {
  /* Adds a bottom border */
  border-bottom: var(--liBorder);
}

.toc > li > a {
  /* Make link text black */
  color: var(--black);
  transition-duration: 0.3s;
}

.toc > li > a:hover {
  font-size: 120%;
}

/* "Select page" heading */
.heading {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 0.5em;
}
