:root {
  /* List Item Border */
  --liBorder: 1pt solid;
}

/* Table of Contents */
.toc {
  display: flex; /* Flex display */
  list-style-type: none; /* No list bullets */
  flex-direction: column; /* Vertical block list */
}

.toc > li {
  flex-grow: 1; /* Ensures the links stay the same size */
  text-align: center;
  border: var(--liBorder);
  border-bottom: none; /* Prevent clashing top and bottom borders */
  padding: 1em;
}

/* Last list item */
.toc > li:last-child {
  border-bottom: var(--liBorder); /* Adds a bottom border */
}

.toc > li > a {
  color: var(--black); /* Make link text black */
  transition-duration: 0.3s;
}

.toc > li > a:hover {
  font-size: 120%;
}

/* "Select page" heading */
.heading {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 0.5em;
}

@media (prefers-color-scheme: dark) {
  .toc > li > a {
    color: var(--white);
  }
}
