.foot {
  text-align: center;

  background-color: var(--mainColour);
  color: var(--black);

  padding: 1.2em;

  /* Fix the footer at the bottom of the page regardless of scrolling */
  position: fixed;
  bottom: 0;
  left: 0;

  /* Full-width footer */
  width: 100%;
}
