.heading {
  color: var(--blue); /* from "index.css" */
  background-color: var(--lightBlue); /* From "index.css" */
  padding: 1.5em;
  text-align: center;
  margin-bottom: 1em;
}

.heading > h1 {
  font-weight: 800; /* Bolder font */
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .heading {
    background-color: grey;
    color: var(--white);
  }
}
