/* Button */
.btn {
  border: none;
  border-radius: 0.3em;
  padding: 1em;
  background-color: var(--lightBlue);
  display: block;
  width: 10em;
  text-align: center;
  margin: auto;
  outline: 2pt outset;
  margin-top: 1em;
}

.btn:hover {
  outline: 2pt inset;
}

@media (prefers-color-scheme: dark) {
  .btn {
    background-color: grey;
    color: var(--white)
  }
}
