/* Dice Image */
.dieImg {
  border: 2pt solid grey;

  /* Makes the die image centered on the screen. */
  margin: auto;
  display: block;

  width: 18.75em; /* 300px */
  height: 18.75em; /* 300px */
}

/* Roll Log <textarea> */
.rollLog {
  resize: none;
}
