/* The <form> element */
.form {
  margin: 0.5em;
}

/* All input fields */
.form input, 
.form select,
.form textarea,
.form button {
  width: 100%;
  padding: 0.6em 1.2em;
  margin: 0.5em 0;
  display: inline-block;
  
  /* Ensures consistent input text fonts. */
  /* TODO -> Change to custom font when I find one */
  font-family: Arial, Helvetica, sans-serif;
}

/* Placeholder text */
.form input::placeholder,
.form input::-webkit-input-placeholder,
.form input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: inherit;
}

/* Form Text Areas */
.form textarea {
  /* 
    Ensures the user can resize the textarea
    (only vertically) if its content gets too 
    lengthy.
  */
  resize: vertical; 
  height: 10em; /* Initial Height */
  background-color: var(--white);
  border: var(--inputBorder) var(--mainColour);
}

/* Readonly textareas with focus */
.form textarea:read-only:focus {
  /* Prevents user from thinking they can edit a readonly textarea */
  outline: none;
}

.form textarea:focus {
  outline: 2pt solid var(--dblue);
}

/* Input fields except submit button */
.form input:not([type=submit]),
.form select {
  border: var(--inputBorder) var(--mainColour);
  border-radius: 4pt;
  box-sizing: border-box;
}

/* Input fields with focus */
.form input:not([type=submit],[type=button]):focus,
.form button:focus,
.form select:focus {
  outline: 2pt outset var(--dblue);
  border: var(--inputBorder) var(--mainColour);
}

/* Form Buttons */
.form input[type=submit],
.form input[type=button],
.form button {
  background-color: var(--mainColour);
  color: var(--back);
  border: none;
  border-radius: 4pt;
  cursor: pointer;
  transition-duration: 0.2s;
}

.form input[type=submit]:hover,
.form input[type=button]:hover,
.form button[type=button]:hover,
.form button[type=submit]:hover {
  background-color: var(--dblue);
  color: var(--mainColour);
}

.form > fieldset {
  border: 2pt ridge var(--mainColour);
  padding: 1em;
  margin-bottom: 0.5em;
}

.form > fieldset > legend {
  padding: 0 0.5em;
  color: var(--black);
  font-weight: bold;
  text-decoration: underline;
}

.form label {
  width: 100%;
  display: block;
  padding: 0.2em ;
  text-decoration: underline;
  color: var(--black);
  font-weight: bold;
}

/* Output elements in forms */
.form output {
  font-style: italic;
  display: block;
}
