/* Button wrapper div */
.btnWrap {
  display: flex;
}

.btnWrap > button {
  transition-duration: 0.3s; /* For hover animation */
  border-radius: 0;
  flex: 1;
  border: 1pt solid var(--dblue);
  border-right: none;
  background-color: var(--mainColour);
  color: var(--dblue);
  padding: 0.5em;
  cursor: pointer;
  /* TODO -> Change to custom font */
  font-family: Arial, Helvetica, sans-serif;
}

.btnWrap > button:hover {
  color: var(--mainColour);
  background-color: var(--dblue);
}

.btnWrap > button:last-child {
  border-right: 1pt solid; 
}

/* On smaller screens */
@media screen and (max-width: 720px) {
  .btnWrap {
    flex-direction: column;
    margin: 1em 0;
  } 

  .btnWrap > button {
    border-right: 1pt solid;
    margin: 0;
  }

  .btnWrap > button:not(:last-child) {
    border-bottom: none;
  }
}
