.btnWrap {
  display: flex;
}

.btnWrap > button {
  border-radius: 0;
  flex: 1;
  border: 1pt solid var(--blue);
  border-right: none;
  background-color: var(--lightBlue);
  color: var(--blue);
  padding: 0.5em;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.btnWrap > button:last-child {
  border-right: 1pt solid var(--blue); 
}

@media screen and (max-width: 600px) {
  .btnWrap {
    flex-direction: column;
    margin: 1em 0;
  } 

  .btnWrap > button {
    border-right: 1pt solid var(--blue);
    margin: 0;
  }
}
