.dialogDiv {
  border: 1pt solid;
  padding: 1em;
  margin: 1em 0;
}

.alertBox,
.confirmBox,
.formBox {
  margin: auto;
  width: 30%;
  padding: 2em;
  border: 2pt solid var(--lightBlue);
  box-shadow: 10px 10px 10px var(--black);
}

/* Padding for aesthetics */
.alertBox > h3, .confirmBox > h3, .formBox > h3,
.alertBox > p, .confirmBox > p, .formBox > p {
  padding: 0.4em 0;
}

.alertBox::backdrop,
.confirmBox::backdrop,
.formBox::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

/* All buttons */
.dialogDiv button {
  background-color: var(--lightBlue);
  color: var(--blue);
  border: none;
  border-radius: 4pt;
  cursor: pointer;
  width: 100%;
  padding: 0.6em 1.2em;
  margin: 0.5em 0;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.dialogDiv button:hover {
  color: var(--lightBlue);
  background-color: var(--blue);
  transition-duration: 0.2s;
}
