/* Main content in <main> */
.main-body {
  margin: 0.5em;
  padding-bottom: 1em;
}

/* Horizontal Rules */
.main-body > hr {
  border: 1pt solid var(--lightBlue);
  margin: 0.4em;
}

@media (prefers-color-scheme: dark) {
  .main-body > hr {
    border-color: grey;
  }
}
