.contentCard {
  text-align: center;
  border: 1pt solid;
  padding: 1em;
}

.contentCard h3 {
  /*
    Add an underline to the card's heading text.
    See the <ContentsTable> CSS Module.
    */
  text-decoration: underline;
}

/* The UTF-8 Unicode Icon for the card. */
.contentCard .icon {
  font-size: 1.6em;
  color: var(--dblue);
}

.contentCard .subtitle {
  font-style: italic;
}
