:root {
  /* Light Mode Variables (Used across all CSS files) */
  --mainColour: #A9DEF9;
  --white: #f8f8f8;
  --black: #212529;
  --inputBorder: 1.5pt solid;
  --orange: #eda659;
  --dblue: #355070;
  font-size: 1em;
}

@media screen and (max-width: 720px) {
  :root {
    font-size: .8em;
  }
}

/* all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  /* Hides Chrome (et al.) scrollbar */
  display: none;
}

html {
  /* Hides Firefox scrollbar */
  scrollbar-width: none;
  /* Ensures smooth scrolling */
  scroll-behavior: smooth;
}

html, body {
  /* Ensures scrolling is still possible */
  overflow: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--white);
  color: var(--black);
}

/* All links on the page */
a {
  color: var(--black);
}

main {
  margin-bottom: 3em;
  /* Compensate for fixed footer */
  padding-bottom: 1em;
}
