:root {
  /* Colour Variables (Used across all CSS files) */
  --lightBlue: #7ec5ff;
  --blue: #003ace;
  --white: #f8f8f8;
  --black: #212529;
  --inputBorder: 1.5pt solid var(--lightBlue);
  --orange: #eda659;
}

/* all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  /* Hides Chrome (et al.) scrollbar */
  display: none;
}

html {
  /* Hides Firefox scrollbar */
  scrollbar-width: none;
  /* Ensures smooth scrolling */
  scroll-behavior: smooth;
}

html, body {
  /* Ensures scrolling is still possible */
  overflow: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--white);
}

/* All links on the page */
a {
  color: var(--blue);
}

/* Main content in <main> */
#main-body {
  margin: 0.5em;
  padding-bottom: 1em;
}

main {
  margin-bottom: 3em;
  /* Compensate for fixed footer */
  padding-bottom: 1em;
}



/* Horizontal Rules */
hr {
  border: 1pt solid var(--lightBlue);
  margin: 0.4em;
}
