:root {
  /* Colour Variables (Used across all CSS files) */
  --lightBlue: #7ec5ff;
  --blue: #003ace;
  --white: #f8f8f8;
  --black: #212529;
  --inputBorder: 1.5pt solid var(--lightBlue);
  --orange: #eda659;
}

/* all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--white);
}

/* All links on the page */
a {
  color: var(--blue);
}

/* Main content in <main> */
#main-body {
  margin: 0.5em;
  padding-bottom: 1em;
}

main {
  margin-bottom: 3em;
}

/* Target all forms under <main> */
main form {
  margin: 0.5em;
}

/* All input fields */
main form input, 
main form select,
main textarea,
main button {
  width: 100%;
  padding: 0.6em 1.2em;
  margin: 0.5em 0;
  display: inline-block;
  /* Ensures consistent input text fonts. */
  font-family: Arial, Helvetica, sans-serif;
}

/* Placeholder text */
main form input::placeholder,
main form input::-webkit-input-placeholder,
main form input::-moz-placeholder {
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

/* Text Areas */
main textarea {
  /* Ensures the user can resize the  */
  resize: vertical; 
  height: 10em;
  background-color: var(--white);
  border: var(--inputBorder);
}

main textarea:focus {
  outline: 2pt solid darkblue;
}

/* Input fields except submit button */
main form input:not([type=submit]),
main form select {
  border: var(--inputBorder);
  border-radius: 4pt;
  box-sizing: border-box;
}

/* Input fields with focus */
main form input:not([type=submit]):focus,
main form select:focus {
  outline: 3pt outset lightgray;
  border: var(--inputBorder);
}

main form input[type=submit],
main button {
  background-color: var(--lightBlue);
  color: var(--blue);
  border: none;
  border-radius: 4pt;
  cursor: pointer;
}

main form input[type=submit]:hover {
  background-color: var(--blue);
  color: var(--lightBlue);
}

main form > fieldset {
  border: 2pt ridge var(--lightBlue);
  padding: 1em;
  margin-bottom: 0.5em;
}

main form > fieldset > legend {
  padding: 0 0.5em;
  color: var(--blue);
  font-weight: bold;
  text-decoration: underline;
}

main form label {
  width: 100%;
  display: inline-block;
  padding: 0.2em;
  text-decoration: underline;
  color: var(--blue);
}

/* Output elements in forms */
main form output {
  font-style: italic;
}

/* Horizontal Rules */
hr {
  border: 1pt solid var(--lightBlue);
  margin: 0.4em;
}

main {
  /* Compensate for fixed footer */
  padding-bottom: 1em;
}
