:root {
  /* Variables (Used across all CSS files, including modules) */
  --mainColour: #A9DEF9;
  --white: #f8f8f8;
  --black: #212529;
  --inputBorder: 1.5pt solid;
  --orange: #eda659;
  --dblue: #355070;

  /* Default font size (16px) */
  font-size: 1em;
}

/* On smaller screens */
@media screen and (max-width: 720px) {
  :root {
    /* Reduce font size */
    font-size: .8em;
  }
}

@font-face {
  font-family: OpenSans;
  src: url("/OpenSans.ttf");
}

/* all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  /* Hides Chrome (et al.) scrollbar */
  display: none;
}

html {
  /* Hides Firefox scrollbar */
  scrollbar-width: none;
  /* Ensures smooth scrolling */
  scroll-behavior: smooth;
}

html, body {
  /* Ensures scrolling is still possible */
  overflow: auto;
}

body {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  background-color: var(--white);
  color: var(--black);
}

/* All links on the page */
a {
  color: var(--black);
}

main {
  /* Compensate for fixed footer */
  margin-bottom: 3em;
  padding-bottom: 1em;
}
