.body-section {
  border: 1pt solid var(--blue);
  padding: 1em;
}

.body-section > article {
  padding: 0.4em;
}

.body-section ul {
  margin: 0 2em;
}

.body-section h2 {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .body-section {
    border-color: grey;
  }
}
