.body-section {
  border: 1pt solid var(--black);
  padding: 1em;
}

.body-section > article {
  padding: 0.4em;
}

.body-section p {
  padding: 0.5em;
}

.body-section ul {
  margin: 0 2em;
  padding: 1em;
}

.body-section h2 {
  text-align: center;
  text-decoration: underline;
}
