.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-content: space-evenly;
  gap: 2em;
}

@media screen and (max-width: 720px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
