name: Mocha Unit Testing

on: [workflow_dispatch, push, pull_request]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: npm

      - name: Install dependencies
        run: npm install
      - name: Run unit tests
        run: npm run test 
