name: Run Tests on Pull Request

on: [pull_request]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
      
      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test
