name: Run Tests on Push

on: [push]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4
      
    - name: Set up Node.js
      uses: actions/setup-node@v6.1.0
      with:
        node-version: 20
        cache: npm
    
    - name: Install npm dependencies
      run: npm install
    
    - name: Run Tests
      run: npm test
