.heading {
  color: var(--black);
  background-color: var(--mainColour);
  padding: 1.5em;
  text-align: center;
  margin-bottom: 1em;
}

.heading > h1 {
  font-weight: 800;
  text-decoration: underline;
}
